*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-div{
    justify-content: center;
    margin-block: 30px;
}
.inner-div{
    justify-content: center;
    flex-flow: row wrap;
    gap: 50px;
}
.image-div{
    flex: 0 0 45%;
    height: 370px;
}
.image-div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-size:5.5rem;
    margin-block: 30px;
    text-transform: uppercase;
}
nav{
    position: sticky;
    width:100%;
}   