@media screen and (max-width: 991px) {
    table{
        font-size: larger;
    }
}
@media screen and (max-width: 767px) {
    table{
        font-size: 20px;
    }
}
@media screen and (max-width: 479px) {
    table{
        width: 600px;
        height: 400px;
        font-size: 10px;
    }
    .footer{
        width: 100%;
    }
}